.outlines path {
  fill: #94d82d;
  fill-opacity: 0;
  stroke: #94d82d;
  stroke-opacity: 0.5;
  transition: fill-opacity 0.3s, stroke-opacity 0.3s;
}
.outlines path:hover {
  fill-opacity: 0.5 !important;
  stroke-opacity: 1 !important;
  cursor: pointer;
}

.body_shadow {
  background: rgb(36, 36, 36);
  background: radial-gradient(circle, rgba(36, 36, 36, 1), rgba(36, 36, 36, 0));
}
